$navigationColor: #5B605F; //ciemny szary

$headerColor: #4a4a49; //trochę ciemniejszt szary

$buttonsColor: #FF6600; //pomarańczowy

$backgroundColor: #FFFFFA; //ten jasny kolor tła w niektórych sekcjach

$infoColor: #3498DB; //niebieski

$warningColor: #FFB03B; //lekki pomarańczowy

$succesColor: #468966; //zielony

$binColor: #BD4932; // czerwono-brązowy

$tableColor: #A1A194; // bardzo jasny szary (kolor fontów w tabelach i ikonach rozszerzonych funkcji

$fontWhite: white;

$fontBlack: black;