

.container--grid.landingPage {
  @extend .container;
  max-width: 1200px;
  margin: 0 auto;

  .row {
    [class*="col-"]{
      width: 100%;
      display:block;
      /*
      border: 1px solid black;
      */
    }
    $cols:10;

    @for $i from 1 through $cols{
      .col-#{$i}{
        float: left;
        min-height: 1px;
        height: 100%;
        width: (100%/$cols) *$i;
        //border: 1px solid black;
      }
    }

    &:after, &:before {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.light_background {
  background-color: $backgroundColor;
}

.medium_background {
  background-color: $navigationColor;
}

.darker_background {
  background-color: $headerColor;
}