.section4{
  height: 200px;
  color: white;
  padding-top: 37px;
}


section.medium_background{
  div.container--grid.landingPage{
    div.row{
      div.col-4.section4{
        div.buttonBox{
          text-align: center;
          padding-bottom: 37px;
          input[type=text] {
            width: 300px;
            padding: 15px;
          }
            input[type=submit] {
              @include buttonContent();
              padding: 15px 32px;
              text-align: center;
              font-weight: bold;
              display: inline-block;
              font-size: 14px;
              margin: 4px 2px;
              cursor: pointer;
          }
        }
      }
    }
  }
}
;